@import "@/scss/tools";

.MainElementsLayout {
	position: relative;

	display: grid;

	height: 100vh;

	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto 1fr auto;
	grid-template-areas:
   	"sideBar mainBar mainBar"
   	"sideBar mainBar mainBar"
   	"sideBar mainBar mainBar";

	

	// padding: rem(32) 0;

	&__navBar {
		grid-area: navBar;

		margin-top: 0;

		transition: all 0.3s linear;
		// position: absolute;
		// top: rem(15);
		// right: rem(20);
	}
	
	&__sideBar {
		
		grid-area: sideBar;
		@media (min-width: $tablet) {
			margin: rem(32) 0;
		}	
	}
	

	&__mainBar {
		overflow-y: scroll;

		

		padding: rem(32) 0;
		grid-area: mainBar;

		

		&::-webkit-scrollbar {
			display: block;

			width: rem(10);

			&-thumb {
				height: rem(25);

				
				
				border-radius: 38px;
				background: $iconColor;
			}
			
			&-track {
				border-radius: 38px;
				background-color: $thirdBgColor;
			}

		}

	}
	
	
	// @media (min-width: $tablet) {
	// 	height: 100vh;
	// }
	

	// @media (max-width: em(1800)) {
	// 	grid-template-areas:
   // 	"navBar mainBar mainBar"
   // 	"sideBar mainBar mainBar"
   // 	"sideBar mainBar mainBar";
	// }

	@media (max-width: $tablet) {
		grid-template-areas:
   	"navBar navBar navBar"
   	"sideBar sideBar sideBar"
   	"mainBar mainBar mainBar";
	}

	@media (min-width: $tablet) and (max-width: em(1394)) {
		grid-template-areas:
   	"sideBar navBar navBar"
   	"sideBar mainBar mainBar"
   	"sideBar mainBar mainBar";
	}
}


.fixed {
	position: fixed;

}


.hide {
	// margin-top: -40px;
}