@import "@/scss/tools";

.MainElementsLayout {
	display: grid;

	height: 100vh;
	grid-template-rows: repeat(2, max-content);
	grid-template-columns: auto 1fr;
	grid-template-areas: 
   	"navbar navbar"
   	"sidebar main"
   	"sidebar main";
	@media (max-width: $tablet) {
		grid-template-areas:
   	"navbar navbar"
   	"sidebar sidebar"
   	"main main";
	}
}

.navbar {
	grid-area: navbar;
}

.sidebar {
	grid-area: sidebar;
}


.main {
	grid-area: main;
}