.Counter {
	display: inline-flex;
	align-items: center;

	border-radius: 10px;

	font-size: 32px;
}

.inc, .dec {
	width: rem(48);
	height: 48px;

	border: none;
	border-radius: 100%;
	background-color: aquamarine;
}

.result {
	padding: 0 10px;
}
