




.Sidebar {
    $p: &;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100%;

    padding: rem(16) 0;

    transition: background-color $transition, color $transition;

    background-color: $thirdBgColor;
    

    &__links {
    }

    &_unroll {
        #{$p}__arrowButton {
            padding: rem(120) rem(13);

            transform: translateY(-50%) rotate3d(0, 1, 0, 0);
        }

        #{$p}__arrowIcon {
            
        }

        #{$p}__switchers {
            flex-direction: row;
        }
        
        #{$p}__logoLink {
            font-size: rem(16);
        }

        
    }

    &__switchers {
        margin-top: auto;
    }

    &__arrowButton {
        position: absolute;
        z-index: 100;
        top: 50%;
        right: 0;
        
        box-sizing: content-box;

        padding: rem(120) rem(3);

        transition: rotate3d, padding, $transition;

        transform: translateY(-50%) rotate3d(0, 1, 0, 180deg);

        &:hover #{$p}__arrowIcon {
            animation: arrow 0.8s linear infinite alternate;
        }
        
    }

    &__arrowIcon {
        width: em(8);
        height: em(13);

        
        fill: $iconColor;

    }
    
    &__logo {


        &:not(:last-child) {
            margin-bottom: rem(80);
        }
    }


    @media (min-width: em($tablet)) {
        border-radius: rem(32);

    }



    @media (min-width: $tablet) {
        padding: rem(22) 0 rem(40) 0;
	}
}




.switchers {
    display: inline-flex;
    flex-direction: column;
    gap: 18px;
}

.links {
    display: grid;
    overflow-x: scroll;
    // flex-direction: column;
    // justify-content: center;

    gap: 15px;

    &::-webkit-scrollbar {
        width: 0;
        height: rem(2);
        &-thumb {
            border-radius: rem(4);
            background-color: rgba(136, 136, 136, 0.5);
            
            &:hover {
                background-color: rgba(136, 136, 136, 0.8);
            }
        }
    }

    &__item {
        
    }

    @media (max-width: em($tablet)) {
        grid-auto-flow: column;
        grid-auto-columns: max-content;
    }

}


@keyframes arrow {
    from {
        transform: translateX(0);
    }
    
    50% {
        transform: translateX(rem(-4))
    }

    to {
        transform: translateX(0);
    }
}