@import "@/scss/tools";

.Input {
	display: flex;
	gap: em(8);

	align-items: center;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: $hintColor;
	 }

	&__field {
		width: 100%;
		padding: em(8) em(16);

		border: em(1) solid $iconColor;
		border-radius: em(48);
	}

	&__label {
		white-space: nowrap;
		&::after {
			content: ":";
		}
	}
}