:root {
    --bg-color: #e8e8ea;
    --secondary-bg-color: #a0a0dc;
    --invert-bg-color: #090949;

    --primary-color: #f838e5;
    --invert-primary-color: #049604;
    --secondary-color: #04ff04;
}
