@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    position: relative;

    min-height: 100vh;

    color: var(--primary-color);

    background: var(--bg-color);

    font: var(--font-m);
}


.content-page {
    display: flex;
}


.router-wrapper {
    flex-grow: 1;

    padding: 30px;
}