@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    font: var(--font-m);

    background: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;

    position: relative;
}


.content-page {
    display: flex;
}


.router-wrapper {
    padding: 30px;
    flex-grow: 1;
}