

.Shell {
	padding: rem(24);

	border-radius: rem(32);	

	background-color: $primaryBgColor;

	&_style {
		&_no-border {
			border-radius: 0;
		}
		

		&_none {
			padding: 0;

			border-radius: 0;
			background: none;
		}
	}
}