//* Font connection
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");

		font-family: $font_name;
		font-weight: #{$weight};
		font-style: #{$style};
		font-display: swap;
	}
}

//* Percent
@function percent($px, $from) {
	$result: math.div($px, $from) * 100%;

	@return $result;
}

//* REM
@function rem($px, $current: 16) {
	$result: math.div($px, $current) + rem;

	@return $result;
}

//* EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;

	@return $result;
}

//* Currency
@mixin currency($sym) {
	&::after {
		content: "#{$sym}";
	}
}

//* Grids
@mixin grid-cards($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
	display: grid;
	grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
	gap: $gap;
}

//* Адаптивна властивість (clamp)
@mixin adaptive-value($property, $startSize, $minSize, $widthFrom: $containerWidth, $widthTo: $minWidth, $keepSize: 0) {
	//? для calc();
	$addSize: math.div($startSize - $minSize, 16);

	//? брейк-поїнти в EM
	$widthFromMedia: em($widthFrom);
	$widthToMedia: em($widthTo);

	//? формула плаваючого значення - джерело: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
	$slope: math.div(($startSize - $minSize), ($widthFrom - $widthTo));
	$yIntersection: -$widthTo * $slope + $minSize;
	$flyValue: #{rem($yIntersection)}" + " #{$slope * 100}vw;

	//? отримання значення властивості
	$propertyValue: #{"clamp(" rem($minSize) "," $flyValue "," rem($startSize) ")"};

	@if $startSize == 0 {
		$startSize: 0.000001;
	}

	@if $minSize == 0 {
		$minSize: 0.000001;
	}

	@if $widthFrom == $containerWidth and $maxWidthContainer == 0 {
		$widthFrom: $maxWidth;
	}

	@if $yIntersection == 0 {
		$yIntersection: 0.000001;
	}

	//? якщо негативні значення
	@if $minSize > $startSize {
		$propertyValue: #{"clamp(" rem($startSize) "," $flyValue "," rem($minSize) ")"};
	}

	//? якщо підтримується clamp();
	@supports (#{$property}: $propertyValue) {
		#{$property}: $propertyValue;
	}

	//? якщо не підтримується clamp();
	@supports not (#{$property}: $propertyValue) {
		#{$property}: calc(#{rem($minSize)} + #{$addSize} * (100vw - #{rem($widthTo)}) / #{math.div($widthFrom, 16) - math.div($widthTo, 16)});
	}

	//? встановлюємо значення за замовчуванням
	@if $widthFrom != $containerWidth and $widthFrom != $maxWidth and $keepSize != 1 and $keepSize != 2 {
		@media (min-width: $widthFromMedia) {
			#{$property}: inherit;
		}
	}

	@if $widthTo != $minWidth and $keepSize != 1 and $keepSize != 3 {
		@media (max-width: $widthToMedia) {
			#{$property}: inherit;
		}
	}
}
