//* шрифт за замовчуванням:
$fontFamily: "Montserrat"; //? назва
$fontSize: rem(16); //? розмір
$fontColor: #000; //? колір

//* Кольори
$layoutColor: linear-gradient(88.78deg, #B9B8E2 25.33%, #C2E0FC 105.16%);


//* Налаштування сторінки:
$minWidth: 320; //? мінімальна ширина полотна(макета)
$maxWidth: 1440; //? ширина полотна(макета)
$maxWidthContainer: 840; //? ширина обмежувального контейнера (0 = немає обмежень)W
$containerPadding: 15; //? відступи безпеки у контейнера
$containerWidth: $maxWidthContainer + $containerPadding * 2; //? ширина спрацьовування першого контейнера

//* Брейк-поїнти:
$pc: em($containerWidth); //? ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); //? планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); //? Телефони L
$mobileSmall: em(479.98); //? Телефони S

//* Тип контейнера:
//? 1 = чуйна (контейнер не має брейк-поінтів),
//? 2 = адаптивна (контейнер змінює свою ширину брейк-поїнтами)
$responsiveType: 1;