@import "@/scss/tools";

// .sidebarLinkItem {
// 	position: relative;

// 	display: inline-block;

// 	padding: rem(6) rem(16);

// 	cursor: pointer;
// 	&:hover {
// 		background: linear-gradient(88deg, rgba(29, 89, 255, 0.10) 0%, rgba(94, 211, 243, 0.00) 100%);
// 		&:before {
// 			position: absolute;
// 			bottom: 0;
// 			left: 0;

// 			display: block;

// 			width: rem(2);
// 			height: 100%;

// 			content: "";

// 			background-color: #5ED3F3;
// 			@media (max-width: $tablet) {
// 				width: 100%;
// 				height: rem(2);
// 			}
// 		}
// 	}

// 	.link__appWrapper.link__appWrapper_active {
// 		background: linear-gradient(88deg, rgba(29, 89, 255, 0.30) 0%, rgba(94, 211, 243, 0.00) 100%);
		
// 		&:before {
// 			position: absolute;
// 			bottom: 0;
// 			left: 0;

// 			display: block;

// 			width: rem(2);
// 			height: 100%;

// 			content: "";

// 			background-color: #5ED3F3;
// 			@media (max-width: $tablet) {
// 				width: 100%;
// 				height: rem(2);
// 			}
// 		}
// }
// }




.link {
	$p: &;
	position: relative;

	display: inline-block;

	padding: rem(6) rem(16);

	cursor: pointer;
	&:hover {
		background: linear-gradient(88deg, rgba(29, 89, 255, 0.10) 0%, rgba(94, 211, 243, 0.00) 100%);
		&:before {
			position: absolute;
			bottom: 0;
			left: 0;

			display: block;

			width: rem(2);
			height: 100%;

			content: "";

			background-color: #5ED3F3;
			@media (max-width: $tablet) {
				width: 100%;
				height: rem(2);
			}
		}
	}
	// display: inline-block;
	// position: relative;
	// z-index: 1;

	// display: inline-flex;
	// align-items: center;

	// max-width: em(21);

	// transition: all 0.25s ease-in-out;

	&__nameWrapper {
		display: inline-flex;
		overflow: hidden;
	}

	&__icon {
		display: inline-flex;
		flex: 0 0 auto;
	
		width: em(21);
		height: em(21);
		margin-right: rem(16);
	
		transition: all 0.25s ease-in-out;
		fill: #74A2B2;
		@media (max-width: $tablet) {
			margin-right: 0;
		}
	
	}

	&__name {
		display: inline-block;

		transition: all 0.25s ease-in-out;
		transform: translateX(-100%);
	}

	&__appWrapper {
		position: relative;
		z-index: 1;
	
		display: inline-flex;
		align-items: center;
	
		max-width: em(21);
	
		transition: all 0.25s ease-in-out;
		&_unroll {
			max-width: 100px;

			color: red;
			
			#{$p}__name {
				transform: translateX(0);
			}
	
			#{$p}__icon {
				margin-right: rem(16);
			}
		}

		&_active {
			#{$p} {
				background: linear-gradient(88deg, rgba(29, 89, 255, 0.10) 0%, rgba(94, 211, 243, 0.00) 100%);
				&:before {
					position: absolute;
					bottom: 0;
					left: 0;
		
					display: block;
		
					width: rem(2);
					height: 100%;
		
					content: "";
		
					background-color: #5ED3F3;
					@media (max-width: $tablet) {
						width: 100%;
						height: rem(2);
					}
				}
			}
		}
	}
}





