@import "@/scss/tools";

.ArticleView {

	$p: &;
	display: flex;
	flex-direction: column;
	> * {
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	&_tile {
		overflow: hidden;

		max-width: rem(250);

		padding: 0;

		.top {
			margin-left: rem(8);
		}

		#{$p} {
			&__image {
				
			}

			&__container {
				padding: rem(8);
				padding-bottom: rem(16);

				> * {
					&:not(:last-child) {
						margin-bottom: rem(8);
					}
				}
			}

			&__title {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 4;

				overflow: hidden;

				font-size: rem(24);
				font-weight: 400;
				line-height: percent(28, 24);
			}
		}
	}

	&_list {
		> * {
			&:not(:last-child) {
				margin-bottom: rem(16);
			}
		}

		#{$p} {
			&__top {
				&:not(:last-child) {
					margin-bottom: rem(8);
				}
			}
		
			&__title {
				font-size: rem(32);
				font-weight: 900;
			}
		
			&__subTitle {
				font-size: rem(24);
			}
		
			&__desc {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
		
				overflow: hidden;
			}

			&__image {
				
			}
		}
	}
}


.top {
	display: flex;
	column-gap: rem(8);

	align-items: center;
	&__avatar {

	}

	&__user {
		font-weight: 700;
	}

	&__date {

	}
}

.bottom {
	display: flex;
	justify-content: space-between;
	row-gap: rem(20);

	&__btn {

	}

	&__views {
		display: inline-flex;
		gap: rem(13);

		align-items: center;
	}

	&__viewsIcon {
		width: rem(32);
		height: rem(32);
		fill: $iconColor;
	}

	&__viewerShip {
		
	}
}
