

.Skeleton {
	display: inline-block;

	width: 100%;
	
	// height: 100%;

	animation: pulse 1.2s ease-in-out infinite;

	background: linear-gradient(-90deg, $thirdBgColor 0%, $primaryBgColor 50%, $thirdBgColor 100%);
	background-size: 400% 400%;	

	@keyframes pulse {
	  0% {
		 background-position: 0% 0%
	  }
	  100% {
		 background-position: -135% 0%
	  }
	}
}
