

.ProfileHeader {
	padding: rem(16);

	&__row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: rem(20);
		@media (max-width: em($laptop)) {
			flex-direction: column;
		}
	}

	&__leftBtn {
		display: flex;
		flex: 1 1;
		justify-content: start;
		@media (max-width: em($laptop)) {
			order: 2;
		}
	}

	&__rightBtn {
		display: flex;
		flex: 1 1;
		justify-content: end;
	}



	&__avatar {
	}



	&__editAndSave {
		
		&_save {
			border-color: $saveColor;
		}
	}
	
	&__cancel {
		transition: opacity 0.2s ease;

		opacity: 1;

		border-color: $cancelColor;
		&_hide {
			pointer-events: none;

			opacity: 0;
		}
	}
}