@import "@/scss/tools";

.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--invert-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.links {
    display: flex;
    gap: 15px;
}