.Modal {
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.4);
	display: flex;
	justify-content: center;
	align-items: center;

	transition: opacity 0.3s ease;

}

.wrapper {
	padding: 10px;
	border-radius: 10px;
	transition: all 0.5s ease;
	color: var(--primary-color);
	background-color: var(--secondary-bg-color);
}

.clossed {
	pointer-events: none;
	.animation {
		animation: fadeOut 0.3s;
	}
	
}

.oppened {
	pointer-events: auto;
	.animation {
		animation: fadeIn 0.3s;
	}
}


@keyframes fadeIn {
	from {
	  opacity: 0;
	  transform: scale(0.2);
	}
	to {
	  opacity: 1;
	  transform: scale(1);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.2);
	}
}
 