.Modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	transition: opacity 0.3s ease;

	background-color: rgba($color: #000000, $alpha: 0.4);

}

.wrapper {
	padding: 10px;

	transition: all 0.5s ease;

	color: var(--primary-color);
	border-radius: 10px;
	background-color: var(--secondary-bg-color);
}

.clossed {
	pointer-events: none;
	.animation {
		animation: fadeOut 0.3s;
	}
	
}

.oppened {
	pointer-events: auto;
	.animation {
		animation: fadeIn 0.3s;
	}
}


@keyframes fadeIn {
	from {
	  transform: scale(0.2);

	  opacity: 0;
	}
	to {
	  transform: scale(1);

	  opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		transform: scale(1);

		opacity: 1;
	}
	to {
		transform: scale(0.2);

		opacity: 0;
	}
}
 