@import "@/scss/tools";

.lightTheme {
    fill: #FFC700;
}

.darkTheme {
    fill: #4000ff;
}

.themeIcon {
    width: em(20);
    height: em(20);

    &_light {
        fill: yellow;
    }

    &_dark {
        fill: #4000ff;
    }
}