	

.ArticlesFilters {
	display: flex;
	flex-direction: column;
	gap: rem(32);

	&__changeArticlesView {
		@media (max-width: em($intermediateDesktop)) {
			width: max-content;
		}
	}

	&__search {

	}

	&__selectType {
		z-index: 3;

		display: inline-flex;
		
		gap: rem(8);
		@media (max-width: em($intermediateDesktop)) {
			flex-direction: row;

			width: max-content;
		}

		@media (min-width: em($intermediateDesktop)) {
			align-items: start;
			flex-direction: column;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: rem(24);

		> * {
			flex: 0 0 auto;
		}
	}

	&__sort {
	}

	@media (max-width: em($intermediateDesktop)) {
	}
	
	@media (min-width: em($intermediateDesktop)) {
		align-items: start;
	}
}