 

.SortArticles {
	display: flex;
	
	flex-wrap: wrap;
	gap: rem(8);

	&__sortedDropDown {
		z-index: 2;
	}

	&__orderedDropDown {
		z-index: 1;
	}

	&__wrapper {
		display: flex;
		gap: rem(8);

		flex-wrap: wrap;
	}

	@media (max-width: em($intermediateDesktop)) {
		align-items: center;
		flex-direction: row;
	}

	@media (min-width: em($intermediateDesktop)) {
		flex-direction: column;
	}
}