//* Змінні
$transition: 0.4s ease;

$primaryBgColor: var(--primary-bg-color);
$secondaryBgColor: var(--secondary-bg-color);
$thirdBgColor: var(--third-bg-color);
$textColor: var(--text-color);
$hintColor: var(--hint-color);
$cancelColor: var(--cancel-color);
$saveColor: var(--hint-color);
$iconColor: var(--icon-color);
$accentColor: var(--accent-color);


//* Налаштування сторінки:

//** шрифт за замовчуванням:
$fontFamily: "Nunito Sans"; //? назва
$fontSize: rem(16); //? розмір
$fontColor: $textColor; //? колір

//** Кольори
$layoutColor: $secondaryBgColor;

$minWidth: 320; //? мінімальна ширина полотна(макета)
$maxWidth: 1440; //? ширина полотна(макета)
$maxWidthContainer: 1920; //? ширина обмежувального контейнера (0 = немає обмежень)W
$containerPadding: 15; //? відступи безпеки у контейнера
$containerWidth: $maxWidthContainer + $containerPadding * 2; //? ширина спрацьовування першого контейнера


//** Брейк-поїнти:
$pc: $containerWidth; //? ПК, ноутбуки, деякі планшети у горизонтальному положенні
$largeDesktop: 1800;
$intermediateDesktop: 1394;
$laptop: 1199.98;
$tablet: 991.98; //? планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98; //? Телефони L
$mobileSmall: 479.98; //? Телефони S


//** Тип контейнера:
//? 1 = чуйна (контейнер не має брейк-поінтів),
//? 2 = адаптивна (контейнер змінює свою ширину брейк-поїнтами)
$responsiveType: 1;